.container a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    background-color: transparent;
}

.container a p {
    font-size: 1.2rem;
}

.container a:hover {
    background-color: var(--hovercolor);
}