.container {
    width: fit-content;
    padding: 0 4rem;
    position: relative;
    height: 3rem;
    overflow: hidden;
}


.imageContainer {
    position: relative;

}

.imageContainer img {
    height: 100%;
    height: 3rem;

}

.imageContainer:hover {
    background-image: var(--hovercolor);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .container {
        width: fit-content;
        padding: 0 2rem;
        position: relative;
        height: 2vh;
    }


    .imageContainer {
        position: relative;

    }

    .imageContainer img {
        height: 100%;
        height: 2vh;
    }

    .imageContainer:hover {
        background-image: var(--hovercolor);
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}