.informationContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
    width: 100%;
    pointer-events: none;
    justify-content: space-evenly;
    padding: 0rem 0;
    min-height: calc(15rem + 7vw);
    max-height: fit-content;
}

/* Rest of your CSS remains the same */
.information {
    border: 1px solid var(--black);
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}




.titleContainer {
    height: fit-content;
}

.titleContainer h2 {
    font-family: var(--title-font);
}

.lottieContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.lottie {
    flex-grow: 1;
    height: 8em;
    width: 100%;

}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .informationContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        width: 100%;
        pointer-events: none;
        justify-content: space-evenly;
        padding: 0rem 0;
        height: fit-content;

    }

    /* Rest of your CSS remains the same */
    .information {
        border: 1px solid var(--black);
        border-radius: 20px;
        padding: 0.75rem;
        width: 100%;
        height: 100%;
        gap: 0.5rem;
    }

    .titleContainer {
        height: fit-content;
    }


    .lottieContainer {
        width: 80%;
        height: 80%;
        align-self: center;
        padding: 1rem;
    }

    .lottie {
        flex-grow: 1;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 841px) and (max-width: 1120px) {
    .informationContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        width: 100%;
        pointer-events: none;
        justify-content: space-evenly;
        padding: 0rem 0;
        height: fit-content;

    }

    /* Rest of your CSS remains the same */
    .information {
        border: 1px solid var(--black);
        border-radius: 20px;
        padding: 0.75rem;
        width: 100%;
        height: 100%;
        gap: 0.5rem;
    }

    .titleContainer {
        height: fit-content;
    }


    .lottieContainer {
        width: 70%;
        height: 70%;
        align-self: center;
    }

    .lottie {
        flex-grow: 1;
    }
}