.main {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    animation: blurHide 20s forwards;
    backdrop-filter: blur(5px);
}

@keyframes blurHide {
    0% {
        backdrop-filter: blur(50px);
    }

    100% {
        backdrop-filter: blur(5px);
    }
}