.textContainer {
    max-width: 40vw;
    min-height: 15vh;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .textContainer {
        width: fit-content;
        max-width: 100%;
        min-height: 10vh;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 841px) and (max-width: 1120px) {
    .textContainer {
        width: fit-content;
        max-width: 100%;
        min-height: 10vh;
    }
}