.main {
    position: relative;
    height: 100svh;
    width: 100svw;
    pointer-events: none;
    z-index: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    transform: translateY(10vh), translateX(20vw);
    gap: 2rem;
}

.sectionVisible {
    opacity: 1;
}

.main * {
    pointer-events: all;
}

.contentContainer {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Staggered children animations */
.sectionVisible>*,
.contentContainer>* {
    opacity: 0;
    transform: translateY(0), translateX(0);
    animation: fadeInUp 0.8s ease-out forwards;
}

.contentContainer>*:nth-child(1) {
    animation-delay: 0.2s;
}

.contentContainer>*:nth-child(2) {
    animation-delay: 0.4s;
}

.contentContainer>*:nth-child(3) {
    animation-delay: 0.6s;
}

.contentContainer>*:nth-child(4) {
    animation-delay: 0.8s;
}

.sectionVisible>*:nth-child(2) {
    animation-delay: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10vh);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .main {
        padding: 0;
        gap: 1rem;
        justify-content: space-between;
    }

    .contentContainer {
        padding: 0.5rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .main * {
        pointer-events: all;
    }



}

/* Tablet and Smaller Desktop */
@media (min-width: 841px) and (max-width: 1120px) {
    .main {
        padding: 0;
        gap: 2rem;
        justify-content: space-between;
    }

    .main * {
        pointer-events: all;
    }

    /* Staggered children animations */
    .sectionVisible>* {
        opacity: 0;
        transform: translateY(0), translateX(0);
        animation: fadeInUp 0.6s ease-out forwards;
    }
}