@font-face {
  font-family: "Neuvetica Bold";
  src: url("./fonts/Neuvetica-Bold.woff");
}

@font-face {
  font-family: "Nohemi Bold";
  src: url("./fonts/Nohemi-Bold.woff2");
}

:root {
  --title-font: "Nohemi Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: transparent;
}


h1 {
  font-family: var(--title-font);
  font-size: 10rem;
  text-transform: uppercase;

}