@import url("https://use.typekit.net/pam7rpk.css");






@font-face {
  font-family: "Nohemi Bold";
  src: url("./fonts/Nohemi-Bold.woff2");
}

@font-face {
  font-family: "Nohemi Regular";
  src: url("./fonts/Nohemi-Regular.woff2");
}

@font-face {
  font-family: "Nohemi Light";
  src: url("./fonts/Nohemi-Thin.woff2");
}

@font-face {
  font-family: "Nohemi Medium";
  src: url("./fonts/Nohemi-Medium.woff2");
}


:root {
  --title-font: "Nohemi Bold";
  --text-font: "neue-haas-grotesk-display";
  --thin-font: "Nohemi Thin";
  --medium-font: "Nohemi Medium";
  --black: rgb(35, 35, 35);
  --hovercolor: rgb(240, 240, 240);
}

::selection {
  color: white;
  background-color: black;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-stroke: 0.001px;
}

body {
  min-height: 100svh;
  min-width: 100svw;
  background-color: transparent;
}

h1 {
  font-family: var(--text-font);
  font-weight: 700;

}

h2,
h3,
h4,
h5 {
  font-family: var(--text-font);
  font-weight: 400;

}

h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

ul,
li {
  list-style-type: none;
}

p,
a,
li,
ul {
  font-family: var(--text-font);
  line-height: 1.5;
  font-size: clamp(1rem, 1.3vw, 4rem);
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

button {
  background-color: white;
  font-family: var(--text-font);
  cursor: pointer;
  border: 0px solid var(--black);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  outline: 0;
  font-size: 1.2rem;
}

button:hover {
  background: var(--hovercolor);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  button {
    background-color: white;
    font-family: var(--text-font);
    cursor: pointer;
    border: 0px solid var(--black);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    outline: 0;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }


}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}



@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    * {
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }
}